.letterfly {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);

    -webkit-transition: -webkit-transform 1s;
    transition: transform 1s;

    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.letterfly.letterflying {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);

    opacity: 1;
}

.letterfly.letterflown {

}